Repository SpongePowered/Sponge, pull requests merged in 2018-04, with the labels that each got.

#1858 Fix vanilla item frame dupe - MC-124833
  src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityItemFrame.java
Labels: priority: high, type: bug

#1866 Fix weather issues - Fixes #1860
  src/main/java/org/spongepowered/common/mixin/core/world/MixinWorldServer.java
Labels: system: world

#1855 Implement value processors for endgateways - Fixes #1802
  src/main/java/org/spongepowered/common/data/DataRegistrar.java
  src/main/java/org/spongepowered/common/data/processor/value/tileentity/EndGatewayAgeValueProcessor.java
  src/main/java/org/spongepowered/common/data/processor/value/tileentity/EndGatewayExactTeleportValueProcessor.java
  src/main/java/org/spongepowered/common/data/processor/value/tileentity/EndGatewayExitPositionValueProcessor.java
  src/main/java/org/spongepowered/common/data/processor/value/tileentity/EndGatewayTeleportCooldownValueProcessor.java
Labels: status: ready to merge, system: data

#1869 delay opening/closing inventories during an InteractInventoryEvent
  src/main/java/org/spongepowered/common/event/SpongeEventManager.java
  src/main/java/org/spongepowered/common/interfaces/IMixinContainer.java
  src/main/java/org/spongepowered/common/mixin/core/entity/player/MixinEntityPlayerMP.java
  src/main/java/org/spongepowered/common/mixin/core/item/inventory/MixinContainer.java
  testplugins/src/main/java/org/spongepowered/test/InventoryOpenCloseTest.java
Labels: status: ready to merge, system: event, system: inventory, version: 1.12

#1872 give ContainerPlayer a PlayerInventory
  src/main/java/org/spongepowered/common/item/inventory/lens/impl/comp/EquipmentInventoryLensImpl.java
  src/main/java/org/spongepowered/common/item/inventory/lens/impl/minecraft/PlayerInventoryLens.java
  src/main/java/org/spongepowered/common/item/inventory/lens/impl/minecraft/container/ContainerPlayerInventoryLens.java
Labels: status: needs review, system: inventory
