Repository SpongePowered/Sponge, pull requests merged in 2018-03, with the labels that each got.

#1832 Resolve #1830
  src/main/java/org/spongepowered/common/data/processor/common/AbstractSingleDataSingleTargetProcessor.java
  src/main/java/org/spongepowered/common/data/util/DataProcessorDelegate.java
Labels: status: ready to merge, system: data

#1835 Fix End portal platforms being created and nether portals being ignor…
  src/main/java/org/spongepowered/common/entity/EntityUtil.java
  src/main/java/org/spongepowered/common/interfaces/world/IMixinTeleporter.java
  src/main/java/org/spongepowered/common/mixin/core/world/MixinTeleporter.java
Labels: system: world, version: 1.12

#1775 Add enderpearl thrower to cause and TeleportType to context
  src/main/java/org/spongepowered/common/entity/EntityUtil.java
  src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityEnderPearl.java
Labels: status: needs review, status: needs testing, system: event, system: phase tracker

#1652 Implement DamageEntityEvent for armor stands.
  src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntityLivingBase.java
  src/main/java/org/spongepowered/common/mixin/core/entity/item/MixinEntityArmorStand.java
Labels: status: needs review, status: needs testing, system: entity, system: event

#1771 Fix a race condition with resource packs.
  src/main/java/org/spongepowered/common/event/tracking/phase/packet/ResourcePackState.java
  src/main/java/org/spongepowered/common/interfaces/network/IMixinNetHandlerPlayServer.java
  src/main/java/org/spongepowered/common/mixin/core/network/MixinNetHandlerPlayServer.java
  src/main/java/org/spongepowered/common/resourcepack/SpongeResourcePack.java
Labels: status: input wanted, status: needs testing, system: network, version: 1.12

#1842 Fix offering custom data before PostInit
  src/main/java/org/spongepowered/common/data/SpongeManipulatorRegistry.java
Labels: status: needs review, system: data

#1831 Update README for current state of project
  README.md
Labels: status: accepted
