Repository SpongePowered/Sponge, pull requests merged in 2018-07, with the labels that each got.

#1934 Finish implementing WireAttachmentData.
  src/main/java/org/spongepowered/common/data/DataRegistrar.java
  src/main/java/org/spongepowered/common/data/manipulator/immutable/block/ImmutableSpongeWireAttachmentData.java
  src/main/java/org/spongepowered/common/data/manipulator/mutable/block/SpongeWireAttachmentData.java
  src/main/java/org/spongepowered/common/data/processor/data/block/WireAttachmentDataProcessor.java
  src/main/java/org/spongepowered/common/mixin/core/block/MixinBlockRedstoneWire.java
  src/main/java/org/spongepowered/common/mixin/core/data/types/MixinBlockRedstoneWireAttachPosition.java
  src/main/java/org/spongepowered/common/registry/CommonModuleRegistry.java
  src/main/java/org/spongepowered/common/registry/type/block/WireAttachmentRegistryModule.java
  src/main/resources/META-INF/common_at.cfg
  src/main/resources/mixins.common.core.json
Labels: status: ready to merge, system: data, version: 1.12

#1928 Add banner processing to DyeColorData
  src/main/java/org/spongepowered/common/data/processor/data/item/ItemDyeColorDataProcessor.java
Labels: system: data

#1974 Add --tracker/-t flag for tracker config reload/save
  src/main/java/org/spongepowered/common/command/SpongeCommandFactory.java
Labels: status: needs testing, system: command, system: config

#1957 Improve the way Sponge configuration files are loaded/saved
  src/main/java/org/spongepowered/common/SpongeImpl.java
  src/main/java/org/spongepowered/common/config/SpongeConfig.java
  src/main/java/org/spongepowered/common/config/type/GeneralConfigBase.java
  src/main/java/org/spongepowered/common/config/type/GlobalConfig.java
  src/main/java/org/spongepowered/common/mixin/core/world/MixinDimensionType.java
  src/main/java/org/spongepowered/common/mixin/core/world/storage/MixinWorldInfo.java
  src/main/java/org/spongepowered/common/util/SpongeHooks.java
Labels: status: needs review, status: needs testing, system: config, type: enhancement

#1708 Implement IgniteEntityEvent (Close #970)
  src/main/java/org/spongepowered/common/event/ShouldFire.java
  src/main/java/org/spongepowered/common/mixin/core/entity/MixinEntity.java
Labels: status: needs review, system: event, type: enhancement
