Repository SpongePowered/Sponge, pull requests merged in 2019-07, with the labels that each got.

#1424 Add Projectile Test Plugin
  testplugins/src/main/java/org/spongepowered/test/ProjectileTest.java
Labels: status: needs review, status: needs testing, system: test

#1461 Add configuration option to force the adoption of the Sponge permission handler
  src/main/java/org/spongepowered/common/config/category/PermissionCategory.java
  src/main/java/org/spongepowered/common/config/type/GlobalConfig.java
Labels: status: needs review, status: needs testing, system: permission

#2329 Fix data lost on respawn
  src/main/java/org/spongepowered/common/mixin/core/server/PlayerListMixin.java
Labels: system: data, type: bug
