Repository SpongePowered/Sponge, pull requests merged in 2019-10, with the labels that each got.

#2383 Fire event when Item Entity Expires
  src/main/java/org/spongepowered/common/mixin/core/entity/item/EntityItemMixin.java
Labels: status: needs review, status: needs testing, system: event, version: 1.12

#2388 Fix chunk regeneration using old biome values.
  src/main/java/org/spongepowered/common/mixin/core/world/gen/ChunkGeneratorOverworldMixin.java
Labels: status: needs review, status: needs testing, system: world gen, version: 1.12

#2385 Make hiding commands that subjects don't have permission for configurable
  src/main/java/org/spongepowered/common/SpongeImpl.java
  src/main/java/org/spongepowered/common/command/SpongeCommandDisambiguator.java
  src/main/java/org/spongepowered/common/command/SpongeCommandDispatcher.java
  src/main/java/org/spongepowered/common/command/SpongeCommandFactory.java
  src/main/java/org/spongepowered/common/command/SpongeCommandManager.java
  src/main/java/org/spongepowered/common/config/category/CommandsCategory.java
  src/main/java/org/spongepowered/common/config/category/CommandsHiddenCategory.java
Labels: system: command, version: 1.12
