Repository SpongePowered/Sponge, pull requests merged in 2019-12, with the labels that each got.

#2432 Fix three issues affecting the Schematic Builder
  src/main/java/org/spongepowered/common/world/extent/DefaultedExtent.java
  src/main/java/org/spongepowered/common/world/schematic/SpongeSchematicBuilder.java
  testplugins/src/main/java/org/spongepowered/test/SchematicBoundsTest.java
Labels: status: needs review, system: world, type: bug

#2392 Fix inventory middle click state id
  src/main/java/org/spongepowered/common/event/tracking/phase/packet/inventory/MiddleInventoryClickState.java
Labels: status: needs review, status: needs testing, system: inventory, version: 1.12

#2448 Don't apply gamerules loaded from NBT to all worlds
  src/main/java/org/spongepowered/common/mixin/core/world/GameRulesMixin.java
  testplugins/src/main/java/org/spongepowered/test/GamerulesTest.java
Labels: priority: high, status: needs testing, system: world, type: bug
